<!-- SCRIPT LOADER -->

<script>
{% include "partials/script_parts/state.html" %}
{% include "partials/script_parts/navigation.html" %}
{% include "partials/script_parts/dicom_panels.html" %}
{% include "partials/script_parts/dicom_window.html" %}
{% include "partials/script_parts/dicom_stack.html" %}
{% include "partials/script_parts/dicom_header_info.html" %}
{% include "partials/script_parts/dicom_roi.html" %}
{% include "partials/script_parts/dicom_auto.html" %}
{% include "partials/script_parts/matrix.html" %}
</script>