<div id="toolSelection" class="main-card">
    <h2>Select a Tool</h2>
    <p>Choose what you want to do with the uploaded image.</p>

    <div class="tool-grid">
        {% include 'partials/tool_cards/matrix_card.html' %}
        {% include 'partials/tool_cards/dicom_roi_card.html' %}
        {% include 'partials/tool_cards/module3_uniformity_card.html' %}
        {% include 'partials/tool_cards/module1_ct_number_card.html' %}
        {% include 'partials/tool_cards/histogram_card.html' %}
    </div>

    <div style="margin-top:20px;">
        {% include 'partials/tool_cards/upload_new_button.html' %}
    </div>
</div>
