<div class="dicom-panel-section active" id="panel-info">
                    <h3>Header Info</h3>

                    <p class="panel-help">
                        DICOM header details are collapsed so they do not take over the tool area.
                    </p>

                    <details class="details-box header-info-details">
                        <summary>DICOM Header Information</summary>

                        <div class="info-grid" id="dicomInfoSummary">
                            <div><b>Patient ID:</b> <span id="infoPatientID">-</span></div>
                            <div><b>Modality:</b> <span id="infoModality">-</span></div>
                            <div><b>Study:</b> <span id="infoStudyDescription">-</span></div>
                            <div><b>Series:</b> <span id="infoSeriesDescription">-</span></div>
                            <div><b>Rows x Columns:</b> <span id="infoRowsColumns">-</span></div>
                            <div><b>Instance:</b> <span id="infoInstanceNumber">-</span></div>
                            <div><b>Slice Location:</b> <span id="infoSliceLocation">-</span></div>
                            <div><b>Rescale Slope:</b> <span id="infoSlope">-</span></div>
                            <div><b>Rescale Intercept:</b> <span id="infoIntercept">-</span></div>
                            <div><b>Photometric:</b> <span id="infoPhotometric">-</span></div>
                            <div><b>Pixel Min / Max:</b> <span id="infoPixelMinMax">-</span></div>
                        </div>
                    </details>

                    <details class="details-box">
                        <summary>Full DICOM tags later</summary>
                        <p>
                            Later this can become a searchable full DICOM tag table.
                        </p>
                    </details>
                </div>
