<div class="toolbar-middle">
                <button class="dicom-tab active" data-open-panel="info" id="tab-info">Header Info</button>
                <button class="dicom-tab" data-open-panel="window" id="tab-window">Window</button>
                <button class="dicom-tab" data-open-panel="roi" id="tab-roi">ROI</button>
                <button class="dicom-tab" data-open-panel="auto" id="tab-auto">ACR Auto</button>
                <button class="dicom-tab" data-open-panel="module1" id="tab-module1">Module 1</button>
                <button class="dicom-tab" data-open-panel="results" id="tab-results">Results</button>
            </div>
